/bin/
.classpath
.idea/*
5per/plc/Java/.idea/misc.xml
*workspace.xml
*.class
5per/plc/Java/src/br/com/pedroso/jantar_filosofico/marcio/FilosofoOrganizado.class
5per/plc/Java/bin/ImprimeWithNThreads.class
5per/plc/Java/bin/TesteThread.class
5per/plc/Java/bin/br/com/pedroso/jantar_filosofico/marcio/Filosofo.class
5per/plc/Java/bin/br/com/pedroso/jantar_filosofico/marcio/FilosofoCivilizado.class
5per/plc/Java/bin/br/com/pedroso/jantar_filosofico/marcio/FilosofoOrganizado.class
5per/plc/Java/bin/br/com/pedroso/plc/Conta.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/ArvoreBuscaTesteT.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/ArvoreBuscaTesteWT.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/ArvoreBuscaTryLock.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/BinarySearchTree.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/BinarySearchTreeTryLock.class
5per/plc/Java/bin/br/com/pedroso/plc/Arvore/Node.class
5per/plc/Java/bin/br/com/pedroso/plc/thread/From1To2Bilion.class
5per/plc/Java/bin/br/com/pedroso/plc/thread/HelloRunnable.class
5per/plc/Java/bin/br/com/pedroso/plc/thread/test/TesteThreadFrom1to2Billion.class
5per/plc/Java/src/br/com/pedroso/jantar_filosofico/marcio/Filosofo.class
